a {
    -moz-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    color: black;
    text-decoration: none;
}
a:hover {
    border-bottom-color: transparent !important;
    color: #8cd1a8 !important;
    text-decoration: none;
}

/*header*/

.header {
    height: 150px;
    display: block;
    margin-bottom: 20px;
    background: linear-gradient(to bottom, #3ce2ff, #21b46d);
}
.header a:hover {
    border-bottom-color: transparent !important;
    color: white !important;
    text-decoration: none;
}
.head {
    max-width: 750px;
    height: 75px;
    margin: auto;
}
@-webkit-keyframes pulse {
    25% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    75% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
}
@keyframes pulse {
    25% {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
    }
    75% {
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
    }
}
.logo {
    display: inline-block;
    float: left;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    cursor: pointer;
}
.logo:hover {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
.header-name {
    float: left;
    text-align: center;
    margin: 25px 0 0 12%;
    font-size: 70px;
    font-family: serif;
    text-shadow: 9px 0px 15px
}
.header-menu {
    display: inline-block;
    text-align: center;
    float: right;
    margin: 45px auto;
    text-shadow: 8px 0px 10px;
}
.nav {
    max-width: 750px;
    margin: 50px auto auto auto;
    display: block;
}
.menu {
    display: none;
}
.navlink {
    width: 140px;
    margin: 0px 5px 6px 5px;
    float: left;
}
.navlink p {
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    line-height: 100%;
    text-shadow: 11px 4px 17px;
}

/* Footer */

#footer {
    margin-top: 25px;
    min-height: 10vh;
    position: relative;
    text-align: center;
}
#footer .container {
    padding: 5em 2.5em 3em 2.5em;
    background: black;
    /*background: rgba(255, 255, 255, 0.95);*/
    box-shadow: inset 0 1px 0 0 #dddddd;
}
#footer footer {
    bottom: 2em;
    color: rgba(255, 255, 255, 0.5);
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}
.icons {
	font-size: 15px;
}
#footer footer a {
    color: inherit;
}
#footer footer a:hover {
    color: #ffffff !important;
}
#footer footer .copyright {
    font-size: 0.8em;
    line-height: 1em;
    padding: 0;
}
#footer footer .copyright li {
    border-left: solid 1px rgba(255, 255, 255, 0.2);
    display: inline-block;
    margin: 0 0 0 1em;
    padding: 0 0 0 1em;
}
#footer footer .copyright li:first-child {
    border-left: 0;
    margin-left: 0;
    padding-left: 0;
}

/*home*/

.home-background {
    height: 800px;
    width: 97%;
    margin: auto;
    border: 2px solid rgba(99, 99, 99, 99.8);
    border-radius: 20px;
    background-image: url("/img/jumping.jpg");
    background-size: cover;
    background-repeat: no-repeat round;
}
.homeTop {
    text-align: center;
    position: relative;
    padding: 75px;
    padding-bottom: 0px;
    font-size: 25px;
    color: rgb(230, 230, 230);
    font-family: serif;
    font-style: italic;
    font-weight: bold;
}
.homeAuthor {
  text-align: center;
  position: relative;
  color: rgb(230, 230, 230);
  font-family: serif;
  font-style: italic;
  font-weight: bold;

}
/*blinking cursor*/
/*.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}*/

/*about*/
.about {
  width: 97%;
  height: 100%;
  margin: auto;

  padding: 5px;
}
.featurette-divider {
  margin: 30px 0; /* Space out the Bootstrap <hr> */
}
.row {
	margin-left: 0px;
	margin-right: 0px;
}
/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 2;
  letter-spacing: -1px;
}
.featurette-image {
  border: 2px solid black;
  border-radius: 10px;
  margin
}

/*Work*/

.work {
    width: 97%;
    height: 100%;
    margin: auto;
    border: 2px solid rgba(99, 99, 99, 99.8);
    border-radius: 20px;
    padding: 5px;
    background-image: url('/img/dock.jpg');
    background-size: cover;
		color: white;
}
.work h1 {
  text-align: center;
}
.work-sites {
    display: flex;
    justify-content: space-between;;
    margin: 10px;
}
.work-text {
    width: 100%;
    padding: 12%;
    color: white;
		font-size: 25px;
    text-align: center;
}
.work-app {
	width: 40%;
	padding: 10px;
	position: relative;
	bottom: 0;
}
.work-app img {
    height: 250px;
    width: 500px;
		border: 2px solid rgb(230, 230, 230);
		border-radius: 10px;
}
.click-above {
	text-align: center;
}
.click-above a{
	color: white;
}
.work-resume {
	text-align: center;
	color: white;
}
.skillz {
  display: inline-block;
  height: 32px;
  font-size: 13px;
  font-weight: 500;
  color: rgba(0,0,0,0.6);
  line-height: 32px;
  padding: 0 12px;
  border-radius: 16px;
  background-color: #e4e4e4;
}
