<!-- Create an app where there is a list of data on the screen (stored in a service)
 		 where you can type to filter what's shown in the list -->
<html ng-app="app3">

	<title>Directory</title>

	<link rel="stylesheet" href="style.css">
	<body ng-controller="ctrl">

			<div class="filter">
				<h1>Directory</h1>
				Search <input ng-model="personName" placeholder="name">
				<input ng-model="personNumber" placeholder="number">
			</div>

			<div class="yep" ng-class="{contact: person.contact}" ng-repeat="person in people | filter: {name: personName, phone: personNumber}">
				<strong>{{person.name}}</strong> | {{person.email}} | {{person.dateEmployed}} | {{person.phone}}
				<button ng-click="addPeople(person)">Add me!</button>
				<button ng-click="deletePeople(person)">Delete</button>
				<hr/>
			</div>


		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
		<script src="app.js"></script>
		<script src="controller.js"></script>
		<script src="service.js"></script>
	</body>
</html>
