body {
	background: url(img/back.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.filter {
	height: 100px;
	margin: 30px auto 0 auto;
	text-align: center;
}
.filter h1 {
	font-size: 40px;
	font-family: cursive;
}
.yep {
	width: 24%;
	display: inline-block;
}
.contact {
	color: rgb(181, 181, 181);
}
