// Variables //
// colors
$body-background-color: #424242;
$color-fill-background-color: gray;
$text-color: #F0F0F0;
$link-hover-color: #66CD00;
$nav-active: green;
$home-gradient: rgba(0, 0, 0, 0.2);
$bio-link-color: #3F4DBF;
// fonts
$primary-font: Roboto, sans-serif;
$main-font-weight: 300;
$light-font-weight: 200;
$bold-heading-font-weight: 500;
$skills-heading-font-weight: 400;
$desktop-logo-font-size: 35px;
$mobile-logo-font-size: 24px;
$mobile-arrow-size: 2em;
$home-heading-size-mobile: 50px;
$home-heading-size-xs: 36px;
$home-h3-size: 36px;
$home-h3-size-mobile: 24px;
$home-p-size: 20px;
$home-p-size-mobile: 14px;
$bio-h1-size-mobile: 25px;
$bio-h1-size-xs: 28px;
$bio-greeting-size-mobile: 15px;
$bio-text-size-mobile: 13px;
$bio-greeting-size-tablet: 18px;
$bio-text-size-tablet: 16px;
$bio-icon-mobile-size: 32px;
$bio-event-desktop-size: 16px;
$skills-heading-size: 32px;
$skill-column-heading-size: 20px;
$skill-box-tablet-icon-size: 28px;
$skill-box-tablet-p-size: 20px;
$skill-box-mobile-p-size: 16px;
$skills-page-links-size: 18px;
$skills-i-size: 32px;
$skills-i-size-mobile: 22px;
$skills-p-size: 22px;
$contact-info-font-mobile: 18px;
$contact-p-font-mobile: 15px;
// z-index
$header-z: 100;
$social-z: 60;
$arrow-nav-z: 60;
$home-z: 50;
$bio-z: 40;
$skills-z: 30;
$work-z: 20;
$contact-z: 10;
// dimensions
$header-height: 70px;
$social-icon-width-mob: 40px;
$social-icon-width-tab: 50px;
$main-nav-width: 380px;
$live-type-height: 75px;
$live-type-height-mobile: 40px;
$bio-content-max-width: 750px;
$bio-photo-width: 18vh;
$bio-photo-min-width: 128px;
$bio-photo-max-width: 200px;
$bio-time-square-desktop-width: $social-icon-width-tab + 10px;
$tablet-skills-heading-height: 12vh;
$mobile-skills-heading-height: 8vh;
$skills-column-heading-tablet-height: 6vh;
$skill-i-box-width: 40px;
$skill-i-box-width-mobile: 25px;
$skill-i-img-width: 38px;
$text-field-height-mobile: 160px;
// padding & margin
$slide-tb-pad: 60px;
$slide-lr-pad: 30px;
$slide-lr-mobile-pad: 15px;
$slide-tb-mobile-pad: 40px;
$header-lr-padding: 30px;
$social-icon-padding: 5px;
$social-icon-l-margin: 15px;
$arrow-nav-extra-pad: 40px;
$arrow-tb-marg: 15px;
$nav-tb-marg: 10px;
$live-type-tb-marg: 10px;
$live-type-tb-marg-mobile: 7px;
$bio-text-h3-marg: 5px;
$bio-greeting-tb-marg: 10px;
$bio-content-padding: 15px;
$bio-content-padding-desktop: 20px;
$skills-column-pad: 10px;
$skills-p-l-marg: 7px;
$skills-mobile-p-l-marg: 4px;
$skills-mobile-tb-marg: 8px;
$skills-column-mobile-pad-bottom: 1vh;
//border
$master-border: 1px solid $text-color;
$hover-border: 1px solid #66CD00;
$bio-box-border: 1px solid gray;
$bio-text-l-border: 3px solid $color-fill-background-color;
$timeline-border: 5px solid $text-color;
$project-box-border: 3px solid $text-color;
// shadows
$material-shadow-3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
// Flex //
.flex-section {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    /*vertical alignment*/
}
// Master //
*,
*::before,
*:after {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
    position: relative;
}

body {
    display: none;
    background-color: $body-background-color;
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    margin: 0;

    .slide-section {
        position: fixed;
        @extend .flex-section;
        width: 100%;
        top: 0;
        bottom: 0;
        left: 100%;
        padding: $slide-tb-pad $slide-lr-pad + $arrow-nav-extra-pad $slide-tb-pad $slide-lr-pad;
    }

    .color-fill {
        background-color: $color-fill-background-color;
    }

    .bold-heading {
        font-weight: $bold-heading-font-weight;
    }
}

a,
body {
    color: $text-color;
    text-decoration: none;
    font-family: $primary-font;
    font-weight: $main-font-weight;
}

a:active,
a:focus {
    outline: none;
}

a:hover {
    color: $link-hover-color;
    cursor: pointer;
}
@media screen and (max-width: 400px) {
    body {
        .slide-section {
            padding: $slide-tb-mobile-pad $arrow-nav-extra-pad $slide-tb-mobile-pad $slide-lr-mobile-pad;
        }
    }
    .modal-pic-container {
      display: none;
    }
}
// Photo Slide //
.photo-slide {
    background: $body-background-color;
}
// BIO //
#bio {
    z-index: $bio-z;
    @extend .flex-section;
    justify-content: center;
    align-items: center;
    left: 0;
    padding-right: $slide-lr-mobile-pad;
    background: #565656;
}

.bio-content {
    width: 100%;
    max-width: $bio-content-max-width;
    display: flex;
    flex-flow: column nowrap;
    padding: $bio-content-padding + 10px 0 $bio-content-padding 0;

    .bio-top-content {
        width: 100%;
        @extend .flex-section;

        .top-text-wrapper {
            width: 100%;

            .bio-heading-wrapper {
                display: flex;
                flex-flow: row nowrap;
                font-size: $bio-h1-size-mobile;
                align-items: center;

                .bio-photo {
                    width: $bio-photo-width;
                    min-width: $bio-photo-min-width;
                    max-width: $bio-photo-max-width;
                    height: $bio-photo-width;
                    background-image: url('../img/craig.jpg');
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    border-radius: 100px;
                }

                .heading-text-wrapper {
                    margin-left: 10px;

                    .non-bold-heading-bio {
                        white-space: nowrap;
                    }
                }
            }
        }
    }

    .greeting-text {
        margin: 10px auto;
        font-size: $bio-greeting-size-mobile;
        text-align: center;
        margin-bottom: 32px;
    }

    .timeline-menu {
        width: 100%;
        position: relative;
        @extend .flex-section;
        justify-content: space-between;
        border-top: $timeline-border;

        .timeline-circle {
            position: relative;
            height: $social-icon-width-tab - 10px;
            width: $social-icon-width-tab - 10px;
            border: $master-border;
            border-radius: 50%;
            top: -25px;
            color: $text-color;
            background-color: $color-fill-background-color;
            padding: $social-icon-padding;
            @extend .flex-section;
            justify-content: center;

            i {
                font-size: 18px;
            }
        }

        .current-square {
            background-color: $text-color;
            color: $color-fill-background-color;
        }
    }

    .main-bio-text {
        background-color: $text-color;
        padding: $bio-content-padding-desktop;
        display: none;
        position: relative;
        box-shadow: $material-shadow-3;

        .event-triangle-wrapper {
            z-index: 10;
            position: absolute;
            width: 100%;
            @extend .flex-section;
            justify-content: space-between;
            padding: 0 7px;
            left: 0;
            top: -11px;
        }

        .timeline-event {
            color: $color-fill-background-color;
            display: none;
            z-index: 40;

            .event-triangle {
                visibility: hidden;
                height: 25px;
                width: 25px;
                background-color: $text-color;
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }

            .active-tri {
                visibility: visible;
            }

            .event-text-wrapper {
                max-height: 25vh;
                overflow-y: scroll;
            }

            #home-image {
                // background-image: url('../img/mountains_light.jpg');
                // background-position: center;
                // background-size: cover;
                background: $body-background-color;
            }

            p {
                margin: 0;
                font-size: $bio-text-size-mobile;

                a {
                    color: $bio-link-color;
                }
            }

            .event-heading {
                font-weight: $bold-heading-font-weight;
                text-align: left;
            }
        }
    }
}
@media screen and (min-width: 625px) {
    .bio-content {
        padding-top: $bio-content-padding + 20px;

        .bio-top-content {
            .top-text-wrapper {
                .bio-heading-wrapper {
                    font-size: $home-heading-size-mobile + 3px;
                }
            }
        }

        .timeline-menu {
            .timeline-circle {
                height: $social-icon-width-tab;
                width: $social-icon-width-tab;

                i {
                    font-size: 22px;
                }
            }
        }

        .main-bio-text {
            .event-triangle-wrapper {
                padding: 0 12px;
            }

            .timeline-event {
                .event-text-wrapper {
                    overflow-y: hidden;

                    .event-heading {
                        font-size: $home-h3-size-mobile;
                    }

                    p {
                        font-weight: $light-font-weight;
                        font-size: $bio-event-desktop-size;
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 730px) {
    .bio-content {
        padding: $bio-content-padding-desktop;

        .bio-top-content {
            .top-text-wrapper {
                .greeting-text-desktop {
                    display: block;
                    font-size: $bio-greeting-size-tablet;
                }
            }
        }

        .greeting-text-mobile {
            display: none;
        }

        .timeline-menu {
            margin-top: $bio-content-padding;
            margin-bottom: $bio-text-h3-marg;

            .timeline-square {
                height: $bio-time-square-desktop-width;
                width: $bio-time-square-desktop-width;
            }
        }
    }
}
@media screen and (min-width: 934px) {
    .bio-content {
        margin-left: $arrow-nav-extra-pad;

        .bio-top-content {
            .bio-heading-wrapper {
                .heading-text-wrapper {
                    display: flex;
                    flex-flow: row nowrap;
                    font-size: $home-heading-size-mobile;

                    .non-bold-heading-bio {
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}

#work {
    z-index: $contact-z;

}
// Contact //
#contact {
    z-index: $contact-z;
}

.contact-content {
    // align-self: flex-start;
    margin: 5vh auto;

    h1 {
        font-size: $bio-h1-size-mobile;
        margin: 0 auto 15px;
    }

    .contact-info {
        margin: $social-icon-padding auto;
        font-size: $contact-info-font-mobile;

        .contact-text {
            margin-left: 15px;
        }
    }

    p {
        font-size: $contact-p-font-mobile;
    }

    .text-form {
        width: 100%;

        .form-group {
            margin: 10px auto;

            .input-div {
                margin-top: 10px;

                textarea {
                    resize: none;
                    height: $text-field-height-mobile;
                }

                .contact-input {
                    border: $master-border;
                    background-color: rgba(0,0,0,0);
                    color: $text-color;
                    width: 100%;
                    padding: 5px;
                }

                .contact-send {
                    border: $master-border;
                    background-color: rgba(0,0,0,0);
                    color: $text-color;
                    width: 100%;
                    padding: 5px;
                    cursor: pointer;
                }
            }
        }
    }
}
@media screen and (min-width: 500px) {
    #contact {
        padding-left: $slide-lr-pad + $arrow-nav-extra-pad;
    }

    .contact-content {
        h1 {
            text-align: center;
            font-size: $bio-h1-size-mobile + 10px;
        }
    }
}
@media screen and (min-width: 800px) {
    .contact-content {
        h1 {
            font-size: $bio-h1-size-mobile + 20px;
        }

        .contact-info {
            font-size: $contact-info-font-mobile + 5px;
        }

        p {
            font-size: $contact-p-font-mobile + 5px;
        }

        .text-form {
            .form-group {
                .input-div {
                    .contact-input {
                        padding: 10px;
                    }
                }
            }
        }
    }
}
// Header //
header {
    position: fixed;
    height: $header-height;
    width: 100%;
    padding: 0 $header-lr-padding;
    z-index: $header-z;
    /*needs to be on top for links to be clickable*/
    #headerLogo {
        display: inline;
        font-size: $desktop-logo-font-size;
        line-height: $header-height;
    }

    #socialBox {
        float: right;
        height: $header-height;
        z-index: $social-z;
        width: 50%;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-end;

        .social-icon {
            text-align: center;
            width: $social-icon-width-tab;
            font-size: $mobile-logo-font-size;
            border: $master-border;
            padding: $social-icon-padding;
            margin-left: 10px;
        }

        .social-icon:hover {
            border: $hover-border;
        }
    }
}
@media screen and (max-width: 650px) {
    header {
        #headerLogo {
            font-size: $mobile-logo-font-size;
        }
    }
}
@media screen and (max-width: 420px) {
    header {
        padding: 0 $slide-lr-mobile-pad;

        #headerLogo {
            font-size: 20px;
        }

        #socialBox {
            .social-icon {
                margin-left: 7px;
                width: $social-icon-width-mob;
                font-size: $mobile-logo-font-size;
            }
        }
    }
}
// Home //
#home {
    left: 0; // default in-view slide
    justify-content: center;
    z-index: $home-z;
    background:  url('../img/mountains_light.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    padding-right: $slide-lr-mobile-pad;
}

#home-heading-box {
    text-align: center;

    .live-type {
        height: $live-type-height;
        font-size: $live-type-height;
        line-height: $live-type-height;
        margin: $live-type-tb-marg auto;
    }

    h3 {
        font-size: $home-h3-size;
        font-weight: $light-font-weight;
        margin: $live-type-tb-marg auto;
    }

    p {
        font-size: $home-p-size;
        margin: 0 auto;
    }
}
@media (max-width: 650px) {
    #home-heading-box {
        .live-type {
            font-size: $home-heading-size-mobile;
        }
    }
}
@media (max-width: 420px) {
    #home-heading-box {
        margin-left: 0;

        .live-type {
            font-size: $live-type-height-mobile;
            line-height: $live-type-height-mobile;
            height: $live-type-height-mobile;
            margin: $live-type-tb-marg-mobile;
        }

        h3 {
            font-size: $home-h3-size-mobile;
        }

        p {
            font-size: $home-p-size-mobile;
        }
    }
}
//Nav //
.arrow-nav-container {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    padding-right: $slide-lr-pad;
    @extend .flex-section;
    flex-flow: column nowrap;
    justify-content: center;
    z-index: $arrow-nav-z;

    .arrow-box i {
        margin: $arrow-tb-marg auto;
    }
}

footer {
    position: fixed;
    opacity: 0.999;
    bottom: 0;
    width: 100%;
    padding: 0 $header-lr-padding;
    height: $header-height;
    z-index: 49;
    @extend .flex-section;
    justify-content: center;

    #mainNav {
        width: $main-nav-width;
        @extend .flex-section;
        justify-content: space-between;

        .nav-active {
            color: $link-hover-color;
        }
    }
}
@media screen and (max-width: 400px) {
    .arrow-nav-container {
        padding-right: $slide-lr-mobile-pad;

        .arrow-box i {
            font-size: $mobile-arrow-size;
        }
    }

    footer {
        padding: 0 $slide-lr-mobile-pad;
    }
}
// Skills //
#skills {
    z-index: $skills-z; // background:
    // 	linear-gradient($home-gradient, $home-gradient),
    // 	url('../img/mountain_stars.jpg') no-repeat;
    // background-size: cover;
    // background-position: center;
    background: $body-background-color;
}

#giphy:hover {
    color: #65cc00;
    cursor: pointer;
}

.skills-content {
    width: 100%;
    @extend .flex-section;

    .skills-heading {
        width: 15%;
        font-size: $skills-heading-size;
        align-self: center;
        margin-right: $skills-column-pad;

        h2 {
            margin: 0;
            text-align: center;
        }
    }

    .skills-column-container {
        width: 85%;
        @extend .flex-section;
        justify-content: center;

        .skills-column {
            border: $master-border;
            padding: 0 $skills-column-pad $skills-column-pad;
            width: 25%;
            margin-left: $skills-column-pad;

            .skills-column-heading {
                height: $header-height;
                border-bottom: $master-border;
                font-size: $skill-column-heading-size;
                font-weight: $skills-heading-font-weight;
                @extend .flex-section;
            }

            .skill-box {
                text-align: center;
                @extend .flex-section;

                .icon-box {
                    width: $skill-i-box-width;
                    transition: all 0.5s ease-out;
                    float: left;
                }

                .icon-box:hover {
                    transform: rotate(360deg);
                }

                .icon-image {
                    width: $skill-i-img-width;
                }

                i {
                    font-size: $skills-i-size;
                }

                p {
                    font-size: $skills-p-size;
                    margin-left: $skills-mobile-p-l-marg;
                    float: left;
                }
            }
        }
    }

    .mobile-skills-page-links {
        display: none;
    }
}
@media screen and (max-width: 1060px) {
    .skills-content {
        flex-flow: column nowrap;
        align-self: stretch;

        .skills-heading {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            height: $tablet-skills-heading-height;
        }

        .skills-column-container {
            width: 100%;

            .skill-column {
                .skill-box {
                    .icon-box {
                        i {
                            font-size: $skill-box-tablet-icon-size;
                        }
                    }

                    p {
                        margin: $social-icon-l-margin $social-icon-l-margin $social-icon-l-margin $skills-p-l-marg;
                        font-size: $skill-box-tablet-p-size;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 875px) {
    .skills-content {
        align-self: center;

        .skills-heading {
            margin-right: 0;
            height: $mobile-skills-heading-height;
        }

        .skills-column-container {
            flex-flow: row wrap;

            .skills-column {
                width: 45%;
                align-self: center;
                margin-bottom: $nav-tb-marg;

                .skills-column-heading {
                    height: $skills-column-heading-tablet-height;
                    font-size: $skill-box-mobile-p-size;
                }

                .skill-box {
                    .icon-box {
                        i {
                            font-size: $skills-i-size-mobile;
                        }

                        .icon-image {
                            width: $skill-i-box-width-mobile;
                        }
                    }

                    p {
                        font-size: $skill-box-mobile-p-size;
                        margin: $skills-mobile-tb-marg $skills-mobile-p-l-marg;
                    }
                }
            }

            #skills-1,
            #skills-3 {
                order: 1;
            }

            #skills-2,
            #skills-4 {
                order: 2;
            }
        }
    }
}
@media screen and (max-width: 600px) {
    .skills-content {
        align-items: space-around;
        width: 90%;
        padding-left: $arrow-nav-extra-pad;

        .skills-heading {
            h2 {
                font-size: $mobile-logo-font-size - 5px;
            }
        }

        .skills-column-container {
            margin-left: 0;

            .skills-column {
                width: 100%;
                margin-left: 0;
                margin-bottom: $skills-mobile-p-l-marg;
                padding-bottom: $skills-column-mobile-pad-bottom;

                .skill-box {
                    p {
                        margin: $skills-mobile-p-l-marg;
                    }
                }
            }

            #skills-3 {
                order: 2;
            }

            .hidden-skills {
                display: none;
            }
        }

        .mobile-skills-page-links {
            align-items: center;
            display: flex;
            font-size: $skill-box-tablet-p-size;

            .link-dash {
                margin: 0 $skills-p-l-marg;
            }

            .active-skills-page {
                font-weight: $bold-heading-font-weight;
            }
        }
    }
}
// Work //
#work {
    z-index: $work-z;
    flex-flow: column nowrap;
    justify-content: flex-start;

    h2 {
        margin-top: 30px;
        margin-bottom: 10px;
        font-size: 24px;
    }

    .work-subheading {
        display: none;
        font-size: 20px;
        margin-bottom: 12px;
    }

    .work-bottom-text {
        display: none;
        margin-top: 3vh;
        font-style: italic;
        font-size: 20px;
    }

    .project-box-container {
        width: 100%;
        max-width: 850px;
        height: 65vh;
        overflow-y: scroll;

        .project-box {
            height: 22vh;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;
            font-size: 18px;
            font-weight: 500;
            overflow: scroll;

            .more-info-button {
                font-size: 12px;
                font-weight: 200;
                border: $master-border;
                padding: 10px;
                margin-top: 7px;
                cursor: pointer;
            }

            .more-info-button:hover {
                background-color: $text-color;
                color: $body-background-color;
            }
        }

        #hang-project-box {
            background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),
            url( '../img/hangman-feature-graphic.png');
            background-position: center;
            background-size: cover;
        }
        #rep-project-box {
            background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),
            url( '../img/stats.jpg');
            background-position: center;
            background-size: cover;
        }
        #habits-project-box {
            background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),
            url( '../img/pokedex.jpg');
            background-position: center;
            background-size: cover;
        }
        #fantasy-project-box {
            background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),
            url( '../img/music.png');
            background-position: center;
            background-size: cover;
        }
        #viaje-project-box {
            background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),
            url( '../img/light-bulb.jpg');
            background-position: center;
            background-size: cover;
        }
        #energy-project-box {
            background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),
            url( '../img/snake.jpg');
            background-position: center;
            background-size: cover;
        }
        #calc-project-box {
            background:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),
            url( '../img/calculator.jpg');
            background-position: center;
            background-size: cover;
        }
    }
}

#work-modal-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 150;
    display: flex;
    align-items: center;
    justify-content: center;

    #work-modal-wrapper {
        width: 80%;
        background-color: $text-color;
        z-index: 160;
        position: relative;

        .modal-content {
            color: $body-background-color;
            padding: 10px;
            display: none;
            .modal-wrapper-close {
                position: absolute;
                top: 10px;
                right: 10px;
                cursor: pointer;
            }
            h2 {
                margin: 0;
                text-align: center;
            }
            p {
                margin: 10px auto;
                text-align: center;
            }
            h5 {
                margin: 5px auto;
                text-align: center;
            }
            .modal-pic-container {
              text-align: center;
              .modal-pics {
                height: 190px;
              }
            }

            .modal-tools-wrapper {
                display: flex;
                flex-flow: row wrap;
                align-items: space-between;
                justify-content: center;

                .modal-tool {
                    padding: 10px;
                    background-color: $color-fill-background-color;
                    color: $text-color;
                    margin-right: 5px;
                    margin-bottom: 5px;
                }
            }

            .modal-links {
                .modal-link {
                    margin-top: 10px;
                    a {
                        color: $body-background-color;
                        .modal-link-text, i {
                            font-size: 20px;
                        }
                        i {
                            display: inline-block;
                            width: 20px;
                        }
                    }
                    .coming-soon-link {
                        pointer-events: none;
                        cursor: default;
                        opacity: 0.5;
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 400px) {
    #work {
        padding: $slide-tb-mobile-pad $arrow-nav-extra-pad + 30px;
    }
}
// adjust modal
@media screen and (min-width: 500px) {
    #work-modal-overlay {
        #work-modal-wrapper {
            width: 90%;
        }
    }
}
@media screen and (min-width: 650px) {
    #work {
        h2 {
            font-size: $skills-heading-size + 15px;
        }
    }
    #work-modal-overlay {
        #work-modal-wrapper {
            max-width: 750px;

            .modal-content {
                .modal-links {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-around;

                    .modal-link {
                        a {
                            display: flex;
                            flex-flow: column nowrap;
                            align-items: center;
                            .modal-link-text,
                            i {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 800px) {
    #work {
        h2 {
            margin-top: 5vh;
        }
        .work-subheading {
            display: block;
            margin-bottom: 2vh;
        }
        .work-bottom-text {
            display: block;
        }
        .project-box-container {
            align-self: center;
            display: flex;
            flex-flow: row wrap;
            .project-box {
                height: 25vh;
            }
            #hang-project-box {
                width: 100%;
            }
            #rep-project-box {
                width: 66.6%;
            }
            #habits-project-box {
                width: 33.4%;
            }
            #fantasy-project-box {
                width: 25%;
            }
            #viaje-project-box {
                width: 50%;
            }
            #energy-project-box {
                width: 25%;
            }
            #calc-project-box {
                width: 100%;
            }
        }
    }
}
::-webkit-scrollbar {
    display: none;
}
